<ul>
<% @posts.each do |post| %>
  <li>
    <div class="flex items-start">
      <div class="text-xl text-gray-500 mr-1 cursor-pointer" 
        <% if user_signed_in? %>
           data-controller='upvote'
           data-action='click->upvote#upvote'
           data-upvote-target='button'
           data-upvote-upvoted-value="<%= post.upvoted %>"
           data-upvote-id-value="<%= post.id %>"
         <% end %>
       >
        &#9650;
      </div>
      <div class="mb-3">
        <%= link_to post.title, post.url %> 
        <span class="text-gray-500 text-base">
          (<%= link_to post.website.website_host, website_posts_path(post.website) %>)
        </span>
        <div class="text-sm text-gray-500">
          <%= pluralize(post.upvotes_count, 'point') %> | published <%= distance_of_time_in_words(post.published_at, Time.zone.now) %> ago | 9 comments
        </div>
      </div>
    </div>
  </li>
<% end %>
<ul>

<%== pagy_nav(@pagy) %>
