<!DOCTYPE html>
<html>
  <head>
    <title>Indiefeeds</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="bg-blue-100 px-3 py-1 mb-2 flex items-center justify-between">
      <%= link_to "IndieFeeds.com", root_path, class: 'text-xl font-medium' %>
      <div>
        <%= render 'devise/menu/registration_items' %>
        <%= render 'devise/menu/login_items' %>
      </div>
    </div>

    <div class="text-lg mx-2">
      <%= yield %>
    </div>
  </body>
</html>
